* {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
}

.main {
    width: 60vw;
    height: 100vh;
    position: absolute;
    left: 19%;
    background-image: linear-gradient(#01488a, #003b77, #012353, #000930);
}

.header {
    color: aliceblue;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    position: relative;
    left: 10%;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 20px;

}

.headerside h4 {
    margin-left: 140px;
    padding-left: 20px;
    padding-right: 20px;
}

.tableheader {
    position: relative;
    left: 10%;
}

.tableheader table {
    width: 48vw;
    height: 6vh;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.tableheader table tr {
    margin: 5px 0;
}

.tableheader table tr th {
    padding: 5px 0px;
    margin: 5px 0;
}

.tableheader table tr th:first-child {
    color: white;
    text-align: start;
    width: 5vw;
    padding: 10px;
    margin: 10px 0;
    border-right: 1px solid white;
}

.tableheader table tr th:nth-child(2) {
    color: white;
    text-align: center;
    width: 28vw;
    padding: 10px;
    border-right: 1px solid white;
}

.tableheader table tr th:nth-child(3) {
    color: white;
    text-align: center;
    width: 5vw;
    padding: 10px;
    border-right: 1px solid white;
}

.tableheader table tr th:nth-child(4) {
    color: white;
    text-align: center;
    width: 5vw;
    padding: 10px;
}

.maintable{
    position: relative;
    left: 10%;
    margin-top: 25px;
}
.maintable tr{
    width: 48vw;
    background-color: white;
}
.maintable .image{
    width: 6.5vw;
    position: absolute;
    width: 70px;
    height: 70px;
    top: -5%;
    left: 0;
    border-radius: 50%;
    background-color: white;
}
.maintable .image-2{
    width: 6.5vw;
    position: absolute;
    width: 70px;
    height: 70px;
    top: 18%;
    left: 0;
    border-radius: 50%;
    background-color: white;
}
.maintable .image-2 img{
    height: 50px;
    width: 50px;
    position: relative;
    left: 12%;
    top: 13%;
}
.maintable .image img{
    height: 50px;
    width: 50px;
    position: relative;
    left: 12%;
    top: 13%;
}
.maintable table tr td:nth-child(2)
{
    position: relative;
    left: 9%;
}
.maintable table tr td:nth-child(3){
    position: relative;
    left: 9%;
}
.maintable table tr td:nth-child(4){
    position: relative;
    left: 9%;
}
.name{
    width: 30.5vw;
    text-align: center;
}
.today{
    padding: 10px;
    width: 5vw;
    text-align: center;
}
.total{
    width: 6.5vw;
    text-align: center;
}
td:last-child{
    border-radius: 0 20px 20px 0;
}
.maintable .image-3{
    width: 6.5vw;
    position: absolute;
    width: 70px;
    height: 70px;
    top: 40%;
    left: 0;
    border-radius: 50%;
    background-color: white;
}
.maintable .image-3 img{
    height: 50px;
    width: 50px;
    position: relative;
    left: 12%;
    top: 13%;
}
.maintable .image-4{
    width: 6.5vw;
    position: absolute;
    width: 70px;
    height: 70px;
    top: 63%;
    left: 0;
    border-radius: 50%;
    background-color: white;
}
.maintable .image-4 img{
    height: 50px;
    width: 50px;
    position: relative;
    left: 12%;
    top: 13%;
}
.maintable .image-5{
    width: 6.5vw;
    position: absolute;
    width: 70px;
    height: 70px;
    top: 84%;
    left: 0;
    border-radius: 50%;
    background-color: white;
}
.maintable .image-5 img{
    height: 50px;
    width: 50px;
    position: relative;
    left: 12%;
    top: 13%;
}
.footer{
    display: flex;
    color: white;
}
.footer .logo{
    position: absolute;
    width: 5vw;
    border: 1px dashed white;
    left: 10%;
    top: 87%;
    text-align: center;
    padding: 5px;
}
.footer .website{
    position: absolute;
    right: 10%;
    top: 90%;
}
